body {
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.btn {
    background: rgb(38, 148, 211);
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

.canvas {
    height: 500px;
    width: 500px;
    display: grid;
    border: 20px solid purple;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.grid_item {
    display: grid;
    place-items: center;
    width: 1px;
    height: 1px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shine {
    background: cadetblue;
}
