* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.btn {
    background: rgb(38, 148, 211);
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

.sizing {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
}

.sizing label {
    align-self: center;
}

.sizing .io {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

#sizes {
    display: flex;
    justify-content: space-between;
}

.canvas {
    height: 80vw;
    width: 80vw;
    display: grid;
    align-items: center;
    border: 20px solid purple;
    background: #eee;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.grid_item {
    display: grid;
    place-items: center;
    width: 1px;
    height: 1px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shine {
    background: cadetblue;
}
