* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Navbar starts here */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.btn {
    background: rgb(38, 148, 211);
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

.options {
    background: #888;
    position: absolute;
    right: 0;
    top: 0;

    /* min-width: 40vw; */
    min-height: 100%;

    max-width: 0;

    transition: max-width 0.5s ease-in-out;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    gap: 4rem;
}

.options.active {
    max-width: 200vw;
}

.header .open_options,
.header .close {
    width: 50px;
}

.options .option {
    margin: 0 15vw;
}

/* Navbar ends here */

/* Canvas starts here */

.canvas {
    height: 90vw;
    width: 90vw;
    display: grid;
    align-items: center;
    border: 20px solid purple;
    background: #eee;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.grid_item {
    display: grid;
    place-items: center;
    width: 1px;
    height: 1px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    gap: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    gap: 1rem;
}

/* Canvas ends here */

/* Sizing input starts here */

.sizing {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
}

.sizing label {
    align-self: center;
}

.sizing .io {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

#sizes {
    display: flex;
    justify-content: space-between;
}

/* Sizing input ends here */

.shine {
    background: cadetblue;
}

@media (min-width: 40em) {
    .canvas {
        height: 90vh;
        width: 90vh;
    }
}
