:root {
    --clr_default: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 50, 50);
    position: relative;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input[type="color"] {
    display: none;
}

/* Navbar starts here */

nav.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;

    background: #000;

    padding: 1rem 0;

    box-shadow: 0 4px 10px black;
}

.btn {
    padding: 8px 24px;
    border: none;
    border-radius: 10px;

    font-size: 1rem;

    color: var(--clr_default);
    border: var(--clr_default) 0.125rem solid;
    box-shadow: inset 0 0 0.5rem 0 var(--clr_default),
        0 0 0.5em 2px var(--clr_default);

    position: relative;
}

.btn:hover {
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.8rem;

    margin: 0 100%;

    height: 0.2rem;

    max-width: 0;
    transition: max-width 0.5s ease, margin 0.7s ease;

    background: white;

    box-shadow: inset 0 0 0.5rem 0 var(--clr_default),
        0 0 0.5em 0.5px var(--clr_default);
}

.btn:hover::before {
    max-width: 10vw;
    margin: 0 0;
}

.eraser.active {
    background: var(--clr_default);
    color: #000;
}

.side_btn {
    background: black;
    font-weight: bold;

    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 5px;

    position: absolute;
    left: 0;

    transform: translateX(-89%);

    font-size: 1rem;

    color: var(--clr_default);
    border: var(--clr_default) 0.125rem solid;
    box-shadow: inset 0 0 0.5rem 0 var(--clr_default),
        0 0 0.5em 2px var(--clr_default);

    transition: transform 0.5s ease-in;
}

.change_bg {
    top: 30%;
}

.download {
    bottom: 50%;
}

.side_btn:hover {
    transform: translateX(-5%);
    cursor: pointer;
}

.options {
    background: black;
    box-shadow: -4px 0 10px black;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    min-height: 100vh;

    max-width: 0;

    transition: max-width 0.5s ease-in-out;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    gap: 4rem;
}

.options.active {
    max-width: 200vw;
}

.header .open_options,
.header .close {
    width: 50px;
    color: var(--clr_default);
    filter: drop-shadow(3px 3px 5px white);
}

.options .option {
    margin: 0 15vw;
    padding: 0.5rem 1rem;

    font-size: 1rem;

    color: var(--clr_default);
    border: var(--clr_default) 0.125rem solid;
    box-shadow: inset 0 0 0.5rem 0 var(--clr_default),
        0 0 0.5em 2px var(--clr_default);

    transition: box-shadow 0.3s ease-in;
}

.option:hover {
    background-color: var(--clr_default);
    color: black;

    box-shadow: inset 0 0 5rem 10px var(--clr_default);
}

.option.rainbow {
    animation: rainbow 2s infinite;
}

.select_color {
    cursor: pointer;
}

/* Navbar ends here */

/* Canvas starts here */

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    gap: 1rem;

    margin-top: 1rem;
}

.canvas {
    height: 90vw;
    width: 90vw;
    display: grid;
    align-items: center;
    border: 20px solid purple;
    background: #eee;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.canvas.erasing {
    cursor: crosshair;
}

.grid_item {
    display: grid;
    place-items: center;
    width: 1px;
    height: 1px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    gap: 1rem;
}

/* Canvas ends here */

/* Sizing input starts here */

.sizing {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;

    bottom: 30%;
}

.sizing label {
    align-self: center;
}

.sizing .io {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

#sizes {
    display: flex;
    justify-content: space-between;
}

/* Sizing input ends here */

.shine {
    background: var(--bg_color);
}

@media (min-width: 40em) {
    .canvas {
        height: 90vh;
        width: 90vh;
    }

    .options .option {
        margin: 0 10vw;
    }
}

@keyframes rainbow {
    0% {
        text-shadow: #48abe0 0 0 10px;

        box-shadow: inset 0 0 0.5rem 0 #48abe0, 0 0 0.5rem 2px #48abe0;
    }
    50% {
        text-shadow: blueviolet 0 0 10px;

        box-shadow: inset 0 0 0.5rem 0 blueviolet, 0 0 0.5rem 2px blueviolet;
    }
    75% {
        text-shadow: rebeccapurple 0 0 10px;

        box-shadow: inset 0 0 0.5rem 0 rebeccapurple,
            0 0 0.5rem 2px rebeccapurple;
    }
    100% {
        text-shadow: #48abe0 0 0 10px;

        box-shadow: inset 0 0 0.5rem 0 #48abe0, 0 0 0.5rem 2px #48abe0;
    }
}
